.settings {
    font-family: Roboto;
    background-color: #ecedee;
    height: 100vh;
}

.section {
    height: 50%;
    margin: 0 auto;
    background-image: url(./images/1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.header {
    max-width: 1200;
    margin: 0 auto;
}

.space-logo {
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
}

.client-logo {
    margin: 35px 20px 0px 0px;
    font-weight: 900;
    font-size: 20px;
    line-height: 15px;
}

.client-logo h1 {
    font-size: 25px;
}

.client-logo small {
    text-transform: uppercase;
    font-size: 14.5px;
}

.back-img-one {
    min-height: 50%;
    background-image: url(./images/1.png);
    background-size: cover;
}

.container-testimony {
    padding: 0 20px;
}

.testimony {
    right: 2em;
    position: absolute;
    top: 50%;
    left: 2em;
    transform: translate(0, -45%);
}

.testimony-card {
    background-color: #fff;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 900;
}

.name h1 {
    font-size: 25px;
}

.comment {
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 18px;
    font-weight: 500;
}

.btn-cta  {
    background-color: #ff6450;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.btn-cta a {
    color: #fff;
    text-decoration: none;
}

.btn-arrow {
    letter-spacing: 5px;
    margin: auto;
    display: table;
    margin-top: 1.5em;
}

.btn-arrow a {
    color: #000;
}

@media screen and (min-width:1024px) {
     .section {
         height: 100%;
        margin: 0 auto;
        max-width: 1200px;
        position: relative;
        background-position: 0 50%;
        background-size: initial;
    }

    .testimony {
        right: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0, -45%);
    }

    .testimony-card {
        padding: 50px 40px;
    }

    .space-logo {
        display: block;
    }

    .client-logo {
        position: absolute;
        top: 50%;
        transform: translate(20px, -223px);
        margin: 0;
    }

}